*
{
    font-family: futura-pt, sans-serif;
}


#modeCheckboxInvisible
{
    visibility: hidden;
}


#spelenDiv
{
    width: 15%;
    height: 100%;
    position: relative;
    float: left;
}

#coloredButton
{
    width: 45px;
    height: 45px;
    position: fixed;
    border-radius: 24px;
    margin: auto;
}



#buttonForPositioning
{
    /* margin: 15px 0 0 8px; */
    font-size: 3em;
    font-weight: 500;
    visibility: hidden;
}
#spelenButton, #tekenenButton
{
    font-size: 3em;
    font-weight: 500;
    margin: 15px 0 0 8px;
    background-color: white;
    border: none;
    position: fixed;
    z-index: 999;
    padding: 5px;

}
#spelenButton:hover, #tekenenButton:hover
{
    text-decoration: underline;
    cursor: pointer;
}
#spelenButton:focus, #tekenenButton:focus
{
    outline: none;
}


#tekenenDiv
{
    width: 83%;
    height: 100%;
    position: relative;
    float: left;
}

#noClickOverlay
{
    position: fixed;
    visibility: hidden;
    /* background-color: black; */
    width:100%;
    height: 100%;
}

tone-transport
{
    margin-bottom: 8px;
}

#exampleSentence, #refreshSentence
{
    position: fixed;
    text-align: center;
}
#exampleButton, #refreshButton
{
    font-size: 1.2em;
    /* position: fixed; */
    background-color: white;
    border-style: dotted;
    border-color: black;
}
#exampleButton:hover, #refreshButton:hover
{
    border-style: solid;
    cursor: pointer;
}
#exampleButton:focus, #refreshButton:focus
{
    outline: none;
}




